<nav>
    <p>JORGE ROSERO</p>
    <div class="dropdown">
        <a id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/menu.png" alt="menu burguer">
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
</nav>
