<app-menu></app-menu>
<img class="d-md-block d-lg-none" id="imageBanner" src="../../../assets/MOBILE 071222 1.png"
    alt="Desktop with blue chair" loading="lazy">
<img class="d-none d-lg-block d-xl-block" id="imageBanner" src="../../../assets/DESKTOP 071222.jpg"
    alt="Desktop with blue chair" loading="lazy">
<h1 id="title">Architectural Visualization</h1>

<h2 id="aboutMe">Hi! I'm Jorge.
    A drafter by profession and a 3d artist by passion. </h2>
<p class="descriptionAboutMe" id="firstDescription">
    My interests are related to design, architecture and archviz. I have worked for more
    than 10 years providing customers the opportunity to visualize their projects, where
    the main objective has always been creating an extraordinary ... <br> <br>

    <a class="redirection" id="more" href="#aboutMe" (click)="readMore();">
        READ MORE
        <img src="../../../assets/arrowDown.svg" alt="Arrow to down" loading="lazy">
    </a>
</p>
<p class="descriptionAboutMe" id="deploy" style="display:none;">
    My interests are related to design, architecture and archviz. I have worked for more
    than 10 years providing customers the opportunity to visualize their projects, where
    the main objective has always been creating an extraordinary closeness to reality;
    which as a result facilitates the understanding of the conceptual design, finishes and
    colours, and most importantly, the making of decisions in this respect.<br><br>

    Distribution companies of recognized worldwide brands have given me the opportunity to
    participate in the development of interior design and specification of furniture, architectural
    elements, for corporate spaces, interiors, residential and hospitality projects.<br><br>

    I have practiced different digital means of visualization that includes plans, construction details, animations,
    product presentations.

</p>
<h2 id="work">WORK</h2>

<div class="row" id="cards">
    <div *ngFor="let card of cards" class="column" id="card">
        <figure>
            <img id="image" src="{{card.image}}" alt="{{card.alt}}" loading="lazy">
        </figure>
        <div id="description">
            <p>{{card.description}}</p>
        </div>
    </div>
</div>

<a class="redirection" id="redirectionView" routerLink="/work">
    VIEW ALL WORK
    <img src="../../../assets/arrowRight.svg" alt="Arrow to right" loading="lazy">
</a>
<h2 class="invitation">Do you have a project on mind?</h2>
<h2 class="invitation">Let's Work Together</h2>
<footer id="contact">
    <div></div>
    <img src="../../../assets/instagram.png" alt="Instagram logo" width="20px">
    <a id="instagram" href="https://www.instagram.com/jota.rosero/?hl=en">jota.rosero</a>
</footer>
<br>
<a class="redirection" id="redirectionViewTop" href="#imageBanner">
    BACK TO TOP
    <img src="../../../assets/arrowUp.svg" alt="Arrow to up" loading="lazy">
</a>
