<app-menu></app-menu>
<img id="imageBanner" src="../../../assets/MOBILE 071222 1.png" alt="Desktop with blue chair" loading="lazy">
<h1>Architectural Visualization</h1>

<h2 id="aboutMe">Hi! I'm Jorge. 
    A drafter by profession and a 3d artist by passion. </h2>
<p class="descriptionAboutMe" id="firstDescription">
    My interests are related to design, architecture and archviz. I have worked for more 
    than 10 years providing customers the opportunity to visualize their projects, where 
    the main objective has always been creating an extraordinary ... <br> <br>

 <a class="redirection" id="more" href="#aboutMe" (click)="readMore();"> 
    READ MORE
    <img src="../../../assets/arrowDown.png" alt="Arrow" loading="lazy">
</a>
</p>
<p class="descriptionAboutMe" id="deploy" style="display:none;">
    My interests are related to design, architecture and archviz. I have worked for more 
    than 10 years providing customers the opportunity to visualize their projects, where 
    the main objective has always been creating an extraordinary... closeness to reality; 
    which as a result facilitates the understanding of the conceptual design, finishes and
    colours, and most importantly,  the making of decisions in this respect.<br><br>

    Distribution companies of recognized worldwide brands have given me the opportunity to 
    participate in the development of interior design and specification of furniture, architectural
    elements, for corporate spaces, interiors, residential and hospitality projects.<br><br>

    I have practiced different digital means of visualization that includes plans, construction details, animations, product presentations.

</p>
<h2 id="work">WORK</h2>

<div class="row d-lg-none" id="cards">
    <div *ngFor="let card of cards" class="column" id="card">
        <figure>
            <img id="image" src="{{card.image}}" alt="{{card.alt}}" loading="lazy">
        </figure>
        <div id="description">
            <p>{{card.description}}</p>
        </div>
    </div>
</div>

<div class="body d-sm-none d-md-none d-lg-block">
    <div class="row">
        <div class="col-lg-4">
            <div class="small">
                <figure>
                    <img id="image" src="{{cards[1].image}}" alt="{{cards[1].alt}}" loading="lazy">
                </figure>
                <div id="description">
                    <p>{{cards[1].description}}</p>
                </div>
            </div>
            <div class="small">
                <figure>
                    <img id="image" src="{{cards[2].image}}" alt="{{cards[2].alt}}" loading="lazy">
                </figure>
                <div id="description">
                    <p>{{cards[2].description}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="normal">
                <figure>
                    <img id="image" src="{{cards[0].image}}" alt="{{cards[0].alt}}" loading="lazy">
                </figure>
                <div id="description">
                    <p>{{cards[0].description}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="small">
                <figure>
                    <img id="image" src="{{cards[1].image}}" alt="{{cards[1].alt}}" loading="lazy">
                </figure>
                <div id="description">
                    <p>{{cards[1].description}}</p>
                </div>
            </div>
            <div class="small">
                <figure>
                    <img id="image" src="{{cards[1].image}}" alt="{{cards[1].alt}}" loading="lazy">
                </figure>
                <div id="description">
                    <p>{{cards[1].description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="redirection" id="redirectionView" href="#work">
    VIEW ALL WORK
    <img src="../../../assets/arrow.png" alt="Arrow" loading="lazy">
</a>
<h2 class="invitation">Do you have a project on mind?</h2>
<h2 class="invitation">Let's Work Together</h2>
<footer id="contact">
    <div></div>
    <img src="../../../assets/instagram.png" alt="Instagram logo" width="20px">
    <a id="instagram" href="https://www.instagram.com/jota.rosero/?hl=en">jota.rosero</a>
</footer>
<br>
<a class="redirection" id="redirectionViewTop" href="#imageBanner">
    BACK TO TOP
    <img src="../../../assets/arrowUp.png" alt="Arrow Up" loading="lazy">
</a>